* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: rgb(55, 102, 243);
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(67, 99, 197);
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: rgb(55, 102, 243);
}